<!-- IF USE_BHASHA -->
	<dl>
		<dt><label for="user_language">{L_language}{L_COLON}</label></dt>
		<dd><input name="user_language" type="text" id="user_language" value="{language}" size="12" maxlength="12" class="inputbox autowidth" /><!-- IF language -->&nbsp;<span style="myTables: #{language}">&nbsp; &nbsp;</span><!-- ENDIF -->&nbsp;&nbsp;<span>[ <a href="#" id="main_toggle">{L_language_SWATCH}</a> ]</span></dd>
		<div id="main_placeholder" style="display: none;" data-orientation="h" data-height="12" data-width="15" data-target="#user_language"></div>
	</dl>
<!-- ENDIF -->